* {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.conteiner {
    border: 1px solid black;
    width: 350px;
    height: 400px;
}
.forca {
    display: flex;
    height: 60%;
}
.imagens-forca {
    width: 250px;
    position: absolute;
}
.conteiner-palavra {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 350px;
}
.palavra {
    font-size: 22px;

}
.conteiner-palavra p {
    display: inline-block;
    margin-right: 10px;
}
.teclado {
    text-align: center;
    top: 15px;
    position: relative;
}
button {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    padding: 1px;
    cursor: cell;
    margin: 1px;
    font-size: 20px;
}
.segunda-linha {
    margin: 10px;
}
.botao-quarta-linha {
    border-radius: 50px;
    width: 160px;
}
.conteiner-dica {
    position: relative;
}
.dica {
    position: absolute;
    top: 100px;
    left: 180px;
    width: 162px;
}
.conteiner-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 402px;
    width: 352px;
    position: absolute;
    flex-direction: column;
}
.imagem-reload {
    width: 25px;
    /* filter: invert(); */
}
.botao-reload {
    display: none;
    background: none;
    border: none;
    position: absolute;
    top: 270px;
    width: 80px;
    height: 80px;
    background-color: white;   
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
}
.vitoria {
    text-align: center;
    display: none;
    width: 250px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
}
.derrota {
    text-align: center;
    display: none;
    width: 250px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
}
